<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products | List</title>
    <th:block th:fragment="style">
        <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    </th:block>
</head>
<body>
<main>
    <ul th:if="${!products.isEmpty()}">
        <li th:each="product : ${products}"><span th:text="${product}"></span></li>
    </ul>
    <p th:unless="${!products.isEmpty()}">No product in stock.</p>
</main>
</body>
</html>